body{
    margin: auto 0;
}

.header_site_wrapper {
    background-color: black;
    padding:14px;
}




nav ul 
{
    display: flex;
    list-style-type:none;
    
}

li {
    margin-right:200px;
}

nav a:hover {

    color:red;

}

nav a
{
    text-decoration:none;

}


p {
    color;
}

